body {
  background-color: maroon;

}

li {
  display: inline;
  backgroud-image: url("Betaclublogo.png");
  background-size: auto;

}

div.navbar {
  font-size: large;
  words-spacing: 25px;
}

h1 {
  text-align: center;

}

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
      background-color: #111;
  }

  div.transbox {
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  width: 999px;
  height: 100px;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
